
face_recognition==1.3.0
funasr==1.0.27
ImageHash==4.3.1
mediapipe==0.10.14
moviepy==1.0.3
openai==1.31.0
opencv_contrib_python==4.9.0.80
opencv_python==4.9.0.80
Pillow==10.3.0
pydub==0.25.1
pytube==15.0.0
Requests==2.32.3
scrapetube==2.5.1
tqdm==4.66.4
modelscope
